@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: oldlace;
}

#game {
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

button {
    font-family: 'Poppins', sans-serif;
        font-size: medium;
        border: 1.5px solid black;
        margin-right: 3px;
        padding: 3px;
        border-radius: 5px;
        background-color: white;
        margin-top: 5px;
}